<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Blog {% block title %}Blog{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="py-2 bg-dark border-bottom">
            <div class="container d-flex flex-wrap">
                <div class="dropdown">
                    <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Blog Strategy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdmin">
                        <li><a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord</a></li>
                        <li><a class="dropdown-item" href="#">Menus</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ajouter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdmin">
                        <li><a class="dropdown-item" href="#">Article</a></li>
                        <li><a class="dropdown-item" href="#">Page</a></li>
                    </ul>
                </div>
            
            </div>
        
        </nav>

        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center mb-3 mb-md-auto text-dark text-decoration-none" href="{{ path('home') }}">
                
                <span class="fs-4">Blog Strategy</span>
                </a>

                <ul class-"nav nav-pills">
                 {# {% if app.user %} #}
                 {# <li class="nav-item- list-unstyled d-flex ">
                   

                    <a class="nav-link link-right text-dark " href="{{ path('app_logout') }}">Se Déconnecter</a>
                    </li> #}
                 {# {% else %} #}
                    <li class="nav-item- list-unstyled d-flex ">
                   
                    {% if not is_granted ('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link link-right text-dark " href="{{ path('register') }}">S'inscrire</a>
                        </li>

                        <li class="nav-item list-unstyled">
                        <a class="nav-link text-dark-mr-4" href="{{ path('login') }}">Se connecter</a>
                        </li>
                        {% else %}
                            <div class="dropdown">
                            <a  class="nav nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.username|capitalize}}
                            </a>
                            <ul class ="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_profile', { username: app.user.username}) }}" >Mon Profil</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('logout') }}">Se Déconnecter</a>
                                </li>
                            
                            </ul>
                            
                            </div>
                    {% endif %} 
                </ul>

            </header>
        
        </div>

        {% block body %}{% endblock %}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                <span class="copyright">{{ 'now'|date('Y') }} strategy ©  par Lysycom</span>
                </div> 
                <a class="d-flex flex-wrap text-dark" href="{{ path ('app_mentions_legales') }}">Mentions légales</a>
            </footer>
        </div>
    </body>
</html>


