{% set article_show =  path ('article_show', { 'id': article.id }) %}


{# <article class="mb-5">
        {% if article.featuredImage %}
            <a href="{{ article_show }}"> 
            </a>
        {% endif %}

    </div> #}

<div class="col-md-6 col-sm-6 highlight">
            <img src="{{ asset ('uploads/' ~ article.picture) }}" loading="lazy" width="300" height="200" class="figure-img rounded" alt="...">
             {# <figcaption class="figure-caption fs-1"> {{ article.title }}</figcaption>   #}
            <div class="h-caption">
                 <h2><a class="text-black text-decoration-none fs-3" href="{{ article_show }} {{ article.title }}">
                 {{ article.title }}</a ></h2>
                 </div>
                 <div class="h-body text-center">
                <p class="text-black ">{{article.createdAt |date ('d M Y') }}</p>
                <p class="text-black d-flex justify-content"> {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ ''}}</p> <!--sinon prendre la description du text ou les 130 premer caractére du content et "~" a la fin on ajoute ... -->
          </div>
</div>

</article>

