{% set article_show =  path ('article_show', { 'id': article.id }) %}


{# <article class="mb-5">
        {% if article.featuredImage %}
            <a href="{{ article_show }}"> 
            </a>
        {% endif %}

    </div> #}

<div class="card m-3" style="width: 22rem;">
  <img src="{{ asset ('uploads/' ~ article.picture) }}" loading="lazy" width="325" height="200" class="figure-img rounded" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ ''}}</p>
    {% for category in article.categories %}
    <p class="fst-italic text-secondary">Catégorie: {{category.name}}</p>

    {% endfor %}
    <a href="{{ article_show }} {{ article.title }}" class="btn btn-secondary">Lire l'article</a>
  </div>
</div>




{# <div class="col-md-6 col-sm-6 highlight mb-5 ">

	<img
	src="{{ asset ('uploads/' ~ article.picture) }}" loading="lazy" width="350" height="200" class="figure-img rounded" alt="...">

	
	<div class="alignement">
		<div class="h-caption">
			<h2>
				<a class="text-black text-decoration-none fs-3" href="{{ article_show }} {{ article.title }}">
					{{ article.title }}</a>
			</h2>
		</div>
		<div class="h-body">

			<p class="text-black ">{{article.createdAt |date ('d M Y') }}</p>
			<div class="d-flex">
				<p class="text-black description">
					{{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ ''}}</p>
			</div> #}
			<!--sinon prendre la description du text ou les 130 premer caractére du content et "~" a la fin on ajoute ... -->
		{# </div>
	</div>
</div> #}
</article>
