{% set article_show =  path ('article_show', { 'slug': article.slug }) %}


<article class="mb-5">
    <div class="row">
    <div class="col-md-5">
        {% if article.featuredImage %}
            <a href="{{ article_show }}"> <!-- quand on clique sur l'image  on  arrrive sur l'artricle -->
            <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="350" height="205">
            <!-- loading lazy pour charger l'image quand elle apparait avec une taille prédefini -->
            </a>
    {% endif %}

    </div>

    <div class="col-md-7">
    <h2>
    <a class="text-decoration-none" href="{{ article_show }}">{{ article.title }}</a>
    </h2>
    <p>
    {{article.createdAt |date ('d M Y') }}
    </p>
    {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ ''}} <!--sinon prendre la description du text ou les 130 premer caractére du content et "~" a la fin on ajoute ... -->
    
    </div>


</article>