{% set article_show =  path ('article_show', { 'id': article.id }) %}


{# <article class="mb-5">
        {% if article.featuredImage %}
            <a href="{{ article_show }}"> 
            </a>
        {% endif %}

    </div> #}


<div class="col-md-8">

        <figure class="figure">
            <img src="{{ asset ('uploads/' ~ article.picture) }}" loading="lazy" width="300" height="200" class="figure-img rounded" alt="...">
             {# <figcaption class="figure-caption fs-1"> {{ article.title }}</figcaption>   #}
            <a class="text-white text-decoration-none fs-1 " href="{{ article_show }} {{ article.title }}">
            {{ article.title }}</a >
             <p class="text-white">{{article.createdAt |date ('d M Y') }}</p>
             
           <p class="text-white"> {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ ''}}</p> <!--sinon prendre la description du text ou les 130 premer caractére du content et "~" a la fin on ajoute ... -->
        </figure>
</div>

</article>

