{% extends 'base.html.twig' %}

{% block title %}profil{% endblock %}

{% block body %}
<div class="container w-25 text-secondary">
    <div class="row">
        <div class="col">
        <h2 class="text-secondary">Profil de {{ user.username|capitalize }}</h2>
      
            {{ form_start(updateForm, { attr: {novalidate: 'novalidate'} }) }}
            {{ form(updateForm) }}
            {{ form_end(updateForm)}}
        </div>
    </div>
    <div class="mb-3">
        <p class="text-secondary">Nombre de commentaires posté: {{ user.comments|length }}</p>
    </div>
    <a href="{{ path ('app_delete_user',{ 'id': user.id }) }}">Supprimer le compte</a>

</div>
{% endblock %}
